/* BASE STYLES */

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
    line-height: 24px;
}

nav ul {
    display: flex;
    flex-basis: 80%;
    justify-content: flex-end;
}
nav li {
    list-style-type: none;
    padding: 0 10px;
}

#menu-nav a:hover {
    color: #bdd5ea;
}

h1 {
    font-size: 36px;
    line-height: 1.2;
}
h2 {
    font-size: 32px;
    line-height: 1.2;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}

/** DEFAULTS **/

img {
    display: block;
    max-width: 100%;
}

section {
    overflow: auto;
}

.wrap {
    max-width: 1280px;
    padding: 30px;
}

.light-blue-bg {
    background-color: #bdd5ea;
}

/****** HOMEPAGE ******/

/* HEADER */

header {
    text-align: center;
    color: white;
}

header img {
    margin: 0 auto;
    width: 100px;
    border: 5px solid white;
    border-radius: 50%;
    padding: 4px;
}

#header {
    background-size: cover;
    padding: 80px 0;
}

.buy-button {
    background-color: #fe5f55;
    color: white;
    padding: 10px 20px;
    border-radius: 10%;
}

a {
    text-decoration: none;
}

/* EVENTS */

#events {
    border-bottom: 1px dashed #495867;
    justify-content: center;
}

#events h3 {
    text-align: center;
}

#events ul {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

#events li {
    list-style-type: none;
    flex-basis: 25%;
    font-size: 20px;
}

#events strong {
    font-size: 24px;
}

/* THREE POINTS SECTION */

.three-points-section {
    min-height: 400px;
    display: flex;
    flex-basis: 100%;
    align-items: space-between;
    background-image: url("../images/swirl.png");
    background-repeat: repeat;
}

.three-points-section img {
    width: 300px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 1)
}

.three-points-section img:hover {
    border: 5px solid #495867;
}

.three-points-image {
    flex-basis: 40%;
    flex-shrink: 1;
}

.three-points-text {
    flex-basis: 60%;
    flex-shrink: 1;
    flex-grow: 1;
}

/* PRICES TABLE */

section#prices-table {
    border-top: 1px dashed #495867;
    border-bottom: 1px dashed #495867;
}

#table-title {
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-spacing: 0.5em;
}

table th {
    background-color: #495867;
    color: white;
    padding: 23px;
}

table td {
    background-color: white;
    padding: 23px;
}


/* SPEAKERS */

.center-title {
    text-align: center;
}

.speakers-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}
#spk-left, #spk-right {
    display: flex;
    flex-basis: 45%;
    flex-direction: column;
    flex-shrink: 1;
    background-image: url("../images/swirl.png");
    background-repeat: repeat;
    border: 1px solid #e9e9e9;
    box-shadow: 2px 2px 0 #e9e9e9;
}

#spk-left {
    float: left;
}

#spk-right {
    float: right;
}

#spk-left h4, #spk-right h4 {
    text-align: center;
}

.speakers {
    margin: 0 1%;
}

.speaker {
    min-height: 200px;
}

.speaker-image {
    width: 50%;
    float:left;
}

.speaker-image img {
    width: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.speaker-text {
    width: 50%;
    float: left;
}

#last-call {
    line-height: 30px;
    text-align: center;
}

#last-call p {
    padding-bottom: 10px;
}

/***** TICKETS *****/
#orders {
    text-align: center;
}

label {
    display: none;
}

.label-input {
    padding-bottom: 10px;
}

#buy-form {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #e9e9e9;
    box-shadow: 2px 2px 0 #e9e9e9;
    background-image: url("../images/swirl.png");
    background-repeat: repeat;
}

input, select {
    border: 1px solid #e9e9e9;
}

input:focus, select:focus {
    border: 1px solid #495867;
}

/* MODAL promocional */
#modal-promo {
    position: fixed;
    top: 30%;
    left: 45%;
    width: 250px;
    height: 140px;
    background-color: red;
    color: #fff;
    padding-top: 30px;
}

.close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    color: #333;
}

/* .close::before, .close::after {
    position: absolute;
    right: 7px;
    content: ' ';
    height: 21px;
    width: 2px;
    background-color: #333;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
} */

#modal-promo input {
    width: 150px;
}

.modal-hidden {
    display: none;
}

.modal-shown {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#timer {
    font-size: 22px;
    font-weight: 700;
}

/* FOOTER */

footer {
    background-color: #495867;
    text-align: center;
    color: #fff;
}

/**** MEDIA QUERIES ****/

@media only screen and (max-width: 1023px) {
    .three-points-section img {
        width: 80%;
        height: auto;
    }

    .speaker-image img {
        width: 40%;
    }

    .speaker-image {
        width: 100%;
    }

    .speaker-text {
        width: 90%;
        padding: 10px 20px;
    }

}

@media only screen and (max-width: 770px) {

    #events h3 {
        margin-bottom: 40px;
    }

    #events ul {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    
    #events li {
        list-style-type: none;
        margin-bottom: 40px;
        font-size: 24px;
    }

    #events strong {
        font-size: 32px;
    }

    .three-points-section {
        min-height: 0;
        margin-bottom: 20px;
    }

    .three-points-image {
        display: none;
    }

    .buy-button {
        padding: 5px 10px;
    }

    #spk-left, #spk-right {
        display: flex;
        flex-basis: 100%;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
    }

    .speaker-image {
        display: none;
    }

    h1 {
        font-size: 32px;
        line-height: 1.2;
    }
    h2 {
        font-size: 30px;
        line-height: 1.2;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 24px;
    }
    p {
        font-size: 24px;
    }

    #buy-form {
        width: 70%;
    }

    #buy-form p {
        font-size: 18px;
    }

}

@media only screen and (max-width: 479px) {
    
    
}